html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wraper {
  max-width: 450px;
  max-height: 600px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 32px;
  display: inline-block;
}

.rules {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 75%;
  margin-top: 10px;
  border: 1px solid #0a62b4;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.annotation {
  width: 100%;
  height: 60%;
}

.counterTitle {
  margin-top: 10px;
}

.counter {
  width: 40%;
  height: 12%;
  border: 1px solid gray;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
}

.log {
  height: 40%;
  width: 75%;
  border: 1px solid gray;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}

.user-input {
  width: 40%;
  height: 12%;
  border: 1px solid gray;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
  padding: 5px;
}

.button {
  height: 12%;
  /* width: 40%; */
  box-sizing: border-box;
  border: 1px solid gray;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  background: #0a62b4;
  color: aliceblue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
